@model SweetSerenityBySarah.Models.AccountLoginModel
@{
    using (Html.BeginUmbracoForm("LoginSubmit", "AccountSurface", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginForm" }))
        {

        <hr>
        <h4 class="intro-text text-center">
            Login to your account...
        </h4>
        <hr>

        if (TempData.ContainsKey("LoginError"))
            {
            var errorMessage = (string)TempData["LoginError"];
            <div role="alert" class="alert alert-danger alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>@Html.Raw(errorMessage)</p>
            </div>
            }
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>
        }
}
